html{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./images/love-background2.jpg);
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
}

@media only screen and (max-width:900px) {
    body {
        background-size: auto;
    }
}

.box{
height: 550px;
width: 800px;
background-color: rgb(255, 255, 255, 0.3);
backdrop-filter: blur(15px);
border-radius: 90px;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

display: flex;
justify-content: center;
align-items: center;
margin-top: 80px;
padding: 50px;
position: relative;
}

@media only screen and (max-width:900px){
   .box{
       border-radius: 40px;
        margin: 30px;
        top: 35px;
    }
}

.logo{
    position: absolute;
    top: 40px;
    padding-top: 10px;
    height: 150px;
}

@media only screen and (max-width:900px) {
    .logo {
        height: 100px;
        top: 55px;
    }
}

.result{
    position: absolute;
    top: 380px;
}

#answer{
    position: absolute;
    top: 420px;
}

